@model TransformationTracker.Models.Pdsa

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Pdsa</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Shared" /> @Html.DisplayNameFor(model => model.Shared)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="TacticId" class="control-label"></label>
                <input asp-for="TacticId" class="form-control" />
                <span asp-validation-for="TacticId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gap" class="control-label"></label>
                <input asp-for="Gap" class="form-control" />
                <span asp-validation-for="Gap" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Plan" class="control-label"></label>
                <input asp-for="Plan" class="form-control" />
                <span asp-validation-for="Plan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Doing" class="control-label"></label>
                <input asp-for="Doing" class="form-control" />
                <span asp-validation-for="Doing" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Study" class="control-label"></label>
                <input asp-for="Study" class="form-control" />
                <span asp-validation-for="Study" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

